<ion-header>
    <ion-toolbar class="color">
        <ion-title color="light">Area comun</ion-title>
        <ion-buttons slot="start">
            <ion-back-button style=" color : #fff " defaultHref="page-cliente-dashboard"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="padding">
        <ion-item *ngFor="let item of lstMes">
            <ion-icon slot="end" name="arrow-forward" (click)="ObtenerAreaComun(item)"></ion-icon>
            <ion-label (click)="ObtenerAreaComun(item)">
                <h1>{{item.Fecha}}</h1>
                <!-- <ion-chip outline color="success">
                    <ion-label>Disponible</ion-label>
                </ion-chip> -->
            </ion-label>
        </ion-item>

    </div>
</ion-content>