<ion-content>

  <div class="header">
    <ion-buttons slot="start">
    <ion-back-button style = " color : #fff "  defaultHref="page-cliente-dashboard"></ion-back-button>
  </ion-buttons>
    <h2>Perfil del usuario</h2>
  </div>
  <div class="flex">
    <div class="border-blue">
      <div class="border-white">
        <div class="img-box">
          <img src="../assets/img/user.png">
        </div>
      </div>
    </div>
  </div>

  <div class="padding">
    <ion-item>
      <ion-icon style = " color : #FF8225 " name="person" slot="start"></ion-icon>
      <ion-input type="text" placeholder="Nombre completo" [(ngModel)]="NombreCompleto"></ion-input>
    </ion-item>
    <ion-item >
      <ion-icon style = " color : #FF8225 " name="mail" slot="start"></ion-icon>
      <ion-input type="mail" placeholder="Correo electronico" [(ngModel)]="Correo"></ion-input>
    </ion-item>
    <ion-item >
      <ion-icon style = " color : #FF8225 " name="logo-whatsapp" slot="start"></ion-icon>
      <ion-input type="number" placeholder="Whatsapp" [(ngModel)]="Telefono"></ion-input>
    </ion-item>
    <br>
    <br>
    <ion-button color="success" expand="block" shape="round" fill="outline" (click)="navEstadoCuenta()" *ngIf="_UsuProv.PKNivel == 1">Estado de cuenta</ion-button>
    <ion-button color="success" expand="block" shape="round" fill="outline" (click)="ActualizarPerfil()">Guardar</ion-button>
  </div>

</ion-content>
